.redirect {
  background-color: #008cba; /* Blue */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.greycenter {
  background-color: #3d3d3d; /* Dark Grey */
  border: none;
  left: 50%;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.redbtn {
  background-color: #f44336; /* Red */
  border: none;
  left: 50%;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
